.venv/
__pycache__/
*.pyc
.DS_Store
legacy README.md

# Power BI local user cache & settings
**/.pbi/cache.abf
**/.pbi/localSettings.json
**/.pbi/editorSettings.json


# Claude Code local settings
.claude/
